
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,700&family=Inter:wght@200;400;600;800&family=Poppins:wght@200;300;400;500;600&display=swap');

  :root, html {
   --white: #fff;
   --black: #333333;
   --gray-base: #333333;
   --gray: #555;
   --gray-dark: #444444;
   --gray-border: #DEE2E6;
   --gray-hover: #e9e9e9;
   --gray-hover-light: #f0f0f0;
   --gray-background: #FFF;
   --gray-light: #DDD;
   --gray-lighter: #f2f2f2;
   --default: #838383;
   --azul: #0072bb;
   --primary: #0072bb;
   --primary-alt: #0072bb;
   --primary-light: #f3faff;
   --secondary: #2897D4;
   --complementary: #EF5350;
   --success: #2e7d33;
   --info: #2897D4;
   --warning: #f9a822;
   --danger: #c62828;
   --celeste-argentina: #37BBED;
   --fucsia: #EC407A;
   --arandano: #C2185B;
   --uva: #6A1B99;
   --cielo: #039BE5;
   --verdin: #6EA100;
   --lima: #CDDC39;
   --maiz: #FFCE00;
   --tomate: #EF5350;
   --naranja: #EF6C00;
   --verde-azulado: #008388;
   --mandarina: #F79525;
   --cereza: #ED3D8F;
   --lavanda: #9284BE;
   --escarapela: #2CB9EE;
   --palta: #50B7B2;
   --limon: #D7DF23;
   --verde-jade: #006666;
   --verde-aloe: #4FBB73;
   --verde-cemento: #B4BEBA;
}

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--celeste-argentina) ;

}
.conteiner{
    position: relative;
    min-width: 320px;
    max-width: 850px;
    height: 950px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px #000;


}

.conteiner header{
    position: relative;
    font-size: 20px;
    font-weight: 600px;
    color: #333;

}
.conteiner header .header__titulo{
   background-color: var(--limon);
   border-radius: 10%;

}


.conteiner form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}
.conteiner form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.conteiner form .form.second{
    opacity: 0;
    pointer-events: none ;
}

form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
}
 

 .conteiner form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;

 }

 .conteiner form .Field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

 }

 form .Field .Input-fild{
    display: flex;
    width: calc(100% / 3 -15px);
    flex-direction: column;
    margin: 4px 0;

 }

 .Input-fild label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
 }

 .Input-fild input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;    
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
 }

 .Input-fild input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);


 }

 .Input-fild input[type="date"]{
    color: #707070;
 }
 .Input-fild input[type="date"]:valid{
    color: #333;
 }

 .conteiner form button, .backbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #4070f4;
    border-radius: 5px;
    margin: 25px 0;
    transition: all 0.3s linear;
    cursor: pointer;


 }

 .conteiner form button{

 }
 .conteiner form , .backbtn{
    font-size: 14px ;
    font-weight:400 ;
 }

 form button:hover{
    background-color: #2e2e2e;
 }

 form button i,
 form .backbtn i{
    margin: 0 6px;

 }

form .backbtn i{
    transform: rotate(180deg);
}

 form .buttons{
    display: flex;
    align-items: center;

 }

 form .buttons button, .backbtn{
    margin-right: 14px;

 }

 @media (min-width: 400px) {
   .container {
      height: 1450px;
   }
 }